# Python
*.pyc
__pycache__/

# Виртуальное окружение
venv/
env/
.venv/

# Базы данных
*.sqlite3
db.sqlite3

# Статические файлы, если собираете отдельно
staticfiles/

# IDE / OS
*.swp
*.swo
.DS_Store
