{% extends 'base.html' %}
{% block content %}
<h2 style="color:#00e5ff;">🔐 Получить временный пароль</h2>
{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
<form method="post">
  {% csrf_token %}
  <input type="email" name="email" placeholder="Введите email" required
         style="padding: 10px; width: 300px; border-radius: 8px; border: 1px solid #00e5ff; background-color: #0e1a24; color: #00e5ff;">
  <br><br>
  <button type="submit" style="padding: 10px 20px; background-color: #00e5ff; border: none; color: #000; border-radius: 8px;">Отправить пароль</button>
</form>
{% endblock %}
